<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script src="@{/js/jquery.min.js}"></script>
	<script src="@{/js/popper.min.js}"></script>
	<script src="@{/js/bootstrap.min.js}"></script>
	<title>DollarsBank - Customer Information</title>
</head>
<body>
	<div th:if="${session.activeAccount}">
		<div th:insert="views/fragments/navbar :: nav-main"></div>
		<h2>Account Details</h2><br>
		<table>
			<tr>
				<td>Account Number:</td>
				<td th:text="${session.activeAccount.id}"></td>
			</tr>
			<tr>
				<td>Name:</td>
				<td th:text="${session.activeAccount.name}"></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td th:text="${session.activeAccount.address}"></td>
			</tr> 
			<tr>
				<td>Phone Number:</td>
				<td th:text="${session.activeAccount.phone}"></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td th:text="${session.activeAccount.email}"></td>
			</tr>
		</table>
		<br><a class="button" th:href="@{/}">Return</a>	
	</div>
</body>
</html>