<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<div th:fragment="header">
			<table>
				<tr>
					<td>
						Welcome to DollarsBank!
					</td>
					<td>
						&#128386;dollarsbank@global.com &#128382;1 (202) 555 0191
					</td>
				</tr>
			</table>
		</div>

		<div th:fragment="welcome">
			<table>
				<tr> 
					<td>
						<h1>Dollars Bank</h1>
					</td>
					<td>
						<img th:src="@{/img/dollarbill.png}" alt="DollarBill" style="width: 70%">
					</td>
				</tr>
			</table>
		</div>

		<div th:fragment="footer">
			<section>
				<small class="pre-wrap">Copyright &#169; DollarsBank 2020</small>
			</section>
		</div>
	</body>
</html>
