<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>History</title>
</head>
<body>
	<div th:if="${session.activeAccount}">
		<h3>Recent Transactions</h3><br>
		<div th:if="@{session.activeAccount.history}">
			<div th:each="s : ${#strings.arraySplit(session.activeAccount.history, '|')}">
				<li th:text="${s}"></li>
			</div>
		</div>
		<br><span>Your account balance is $<span th:text="${session.activeAccount.balance}"></span></span>
		<br><a class="button" th:href="@{/}">Return</a>
	</div>
</body>
</html>